* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
}

p {
  font-family: "PT Sans", sans-serif;
}

article {
  padding: 50px 0 70px;
}

@media (max-width: 1024px) {
  article img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  article h1,
  article h2,
  article h3,
  article h4,
  article p,
  article ol,
  article ul,
  article blockquote {
    width: calc(100% - 20px);
  }

  article ol li {
    width: calc(100% - 40px);
  }
}
@media (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
  article {
    margin: 0 auto;
  }
  article img {
    width: calc(100vw - 20px);
    height: calc(100vw - 20px);
  }
  article ol li {
    width: calc(100% - 40px);
  }
}
