* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
}

p {
  font-family: "PT Sans", sans-serif;
}

@media (max-width: 1024px) {
  article img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  article h1,
  article h2,
  article h3,
  article h4,
  article p,
  article ol,
  article ul,
  article blockquote {
    width: calc(100% - 20px);
  }

  article ol li {
    width: calc(100% - 40px);
  }
}
