h1,
h2,
h3,
h4,
p,
ol,
ul,
blockquote {
  width: 700px;
  margin: auto;
  color: #000;
}

img {
  width: 1020px;
  margin: auto;
  display: block;
}

h1,
h2,
h3 {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bold;
}

p {
  font-family: "PT Sans", sans-serif;
}

h1 {
  font-size: 40px;
  line-height: 46px;
  margin-top: 63px;
}

h2 {
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 35px;
  font-size: 28px;
  line-height: 34px;
}

h1 + p {
  font-family: "PT Sans Caption", sans-serif;
  font-size: 22px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 16px;
}

h1 + p + p {
  font-size: 22px;
  line-height: 34px;
  margin-top: 30px;
}

img {
  margin-top: 80px;
}

img + h2 {
  margin-top: 78px;
}

.cont {
  margin-top: 7px;
  font-size: 22px;
  line-height: 34px;
}
.cont-tall {
  margin-top: 29px;
}

h2 {
  margin-top: 43px;
}
blockquote {
  font-family: "PT Sans", sans-serif;
  font-style: italic;
}

.arch {
  margin-top: 35px;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
}
.type {
  margin-top: 33px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
li {
  font-family: "PT Sans", sans-serif;
  margin-top: 17px;
  font-size: 22px;
  line-height: 34px;
  margin-left: 8px;
}

blockquote {
  position: relative;
}

blockquote::before {
  content: "";
  display: block;
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: red;
  margin-left: -20px;
}
